todos h1 {
  color: white;
}

todos button {
  border-radius: 2px;
  border: none;
  font-weight: bold;
  background-color: var(--yellow);
  padding: 1rem;
}

todos .todos-counter {
  border: 2px solid var(--black);
  margin: 1rem auto;
  padding: 1rem;
}
