<li class="list-group-item d-flex justify-content-between align-items-center">
  <h2 ng-class="{ completed: $ctrl.todo.completed }">
    {{ $ctrl.todo.title }}
  </h2>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button
      type="button"
      class="btn btn-primary"
      ng-click="$ctrl.onEdit($ctrl.todo.id)"
    >
      Editer
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      ng-click="$ctrl.onDone($ctrl.todo.id)"
    >
      {{ $ctrl.todo.completed ? "Recommencer" : "Termine" }}
    </button>
    <button
      type="button"
      class="btn btn-danger"
      ng-click="$ctrl.onDelete($ctrl.todo.id)"
    >
      Supprimer
    </button>
  </div>
</li>
